<div class="ml-[20%] mt-16 p-6">
    <h1 class="text-2xl font-bold mb-6" id="productHeading">Product List</h1>
    <div id="categoriesContainer2" class="space-y-4">
        <!-- categories will be loaded here using JS -->
    </div>

    <div class="flex justify-center">
        <div id="paginationContainer2" class="fixed bottom-6  w-full flex justify-center z-49">
            <!-- Pagination buttons will be created here -->
        </div>
    </div>
    

    <div id="confirmationContainer">

    </div>

</div>