<div
class="fixed top-0 left-0 w-full h-16 bg-[#1B1254] text-white flex items-center justify-between px-4 shadow z-50 font-bold">

<div class="flex items-center space-x-4 ml-[3%]">
    <span class="text-4xl">SHOPPI</span>
    <a href="/home" class="text-white text-base hover:underline ml-6">Home</a>
    <a href="/cart" class="text-white text-base hover:underline ml-6">Cart</a>
    <a href="/orders" class="text-white text-base hover:underline ml-6">Orders</a>
</div>

<form action="/profile" method="GET">
    <button type="submit" class="bg-blue-500 hover:bg-blue-600 text-white px-4 py-1 rounded-md text-sm">
        Account
    </button>
</form>
</div>