<%- include('../partials/head') %>

  <body>

    <%- include('../partials/navBar') %>


    <!-- Left Sidebar -->
    <div class="fixed top-16 right-0 w-[30%] h-[calc(100vh-4rem)] bg-white text-gray-800 p-4 space-y-2"
      id="sideSection">


    </div>

    <div class="mt-30 mr-[30%]" id="cartSection">


    </div>
    <script src="/js/user/productDetails.js"></script>

  </body>

  </html>