<%- include('../partials/head') %>

    <body class="bg-gray-100">

        <!-- Top Navbar -->
        <%- include('../partials/navBar') %>

        <!-- Left Sidebar -->
        <div class="fixed  left-0 w-[20%] h-[calc(100vh-4rem)] text-gray-800 p-6 space-y-2">
            <h1 class="text-2xl font-bold mb-6">Filter</h1>

            <!-- filter product -->
            <div class="w-full text-left px-4 py-2 rounded-lg  ">
                <form action="" id="filterForm">
                    <label class="block text-sm font-medium text-gray-700">Sort by:</label>
                    <!-- for sort by price -->
                    <select name="priceSort"
                        class="mt-2 w-full px-4 py-2 border rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500"
                        required>
                        <option value="" selected>Price</option>
                        <option value="1">Price: Low to high</option>
                        <option value="2">Price: High to low</option>
                    </select>

                    <!-- for sort by name -->
                    <select name="nameSort"
                        class="mt-2 w-full px-4 py-2 border rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500"
                        required>
                        <option value="" selected>Name</option>
                        <option value="1">Name: A - Z</option>
                        <option value="2">Name: Z - A</option>
                    </select>

                    <!-- for select category -->
                    <select name="category_slug"
                        class="mt-2 w-full px-4 py-2 border rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500"
                        required>
                        <option value="" selected>Category</option>
                        <div id="categoryOptionsUser"></div>
                    </select>

                    <div>
                        <input type="text" class="mt-2 w-full px-4 py-2 border rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500"
                        placeholder="Min price:"
                        name="minPrice">
                    </div>
                    <div>
                        <input type="text" class="mt-2 w-full px-4 py-2 border rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500"
                        placeholder="Max price:"
                        name="maxPrice">
                    </div>

                    <button type="button"
                        class="text-white w-full mt-3.5 text-center px-4 py-2 rounded-lg  bg-blue-600 hover:bg-blue-700"
                        onclick="applyFilter()" id="productsButton">
                        Apply
                    </button>
                </form>
            </div>

        </div>
        <div class="ml-[20%] mt-16 p-6">
            <h1 class="text-2xl font-bold mb-6">Product List</h1>
            <div id="categoriesContainer" class="space-y-4">
                <!-- categories will be loaded here using JS -->
                <div id="productContainer" class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6 p-4">

                </div>
                <div class="flex justify-center">
                    <div id="paginationContainer" class="fixed bottom-6  w-full flex justify-center z-49">
                        <!-- Pagination buttons will be created here -->
                    </div>
                </div>
            </div>
        </div>
        <script src="/js/productList.js"></script>

    </body>

    </html>